<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<div class="generic-container">

		
		<div class="container" style="margin-bottom: 19px">
			<h1 class="well">Add Student Personal Details !</h1>
			<div class="col-lg-12 well">
				<div class="row">

					<!--  Register Student Personal details  form -->
					<form data-ng-submit="submit()" name="myForm">
						<div class="col-sm-12">
							<div class="row">

								<div class="col-sm-12 form-group">
									<label>Student ID</label> <input type="text" data-ng-model="studentpd.studentId"
										placeholder="Student Id" class="form-control" required>{{studentpd.studentId}}
								</div>
							</div>

							<div class="row">

								<div class="col-sm-12 form-group">
									<label>Student Name</label> <input type="text" data-ng-model="studentpd.name"
										placeholder="Student Name" class="form-control" required>{{studentpd.name}}
								</div>
							</div>
							
							<div class="row">

								<div class="col-sm-12 form-group">
									<label>Date Of Birth</label> <input type="text" data-ng-model="studentpd.dob"
										placeholder="Student Date Of Birth (yyyy-MM-dd or dd-MM-yyyy)" class="form-control" required>{{studentpd.dob}}
								</div>
							</div>
							
							<div class="row">

								<div class="col-sm-12 form-group">
									<label>Age</label> <input type="text" data-ng-model="studentpd.age"
										placeholder="Student Age" class="form-control" required>{{studentpd.age}}
								</div>
							</div>
							
							<div class="row">

								<div class="col-sm-12 form-group">
									<label>Parent Name</label> <input type="text" data-ng-model="studentpd.parentName"
										placeholder="Student Parent Name" class="form-control" required>{{studentpd.parentName}}
								</div>
							</div>
							
							<div class="row">

								<div class="col-sm-12 form-group">
									<label>Contact No:</label> <input type="text" data-ng-model="studentpd.contactNo"
										placeholder="Parent Contact No:" class="form-control" required>{{studentpd.contactNo}}
								</div>
							</div>
							
							<div class="row">

								<div class="col-sm-12 form-group">
									<label>Conatct Email</label> <input type="text" data-ng-model="studentpd.contactEmail"
										placeholder="Parent Contact Email" class="form-control" required>{{studentpd.contactEmail}}
								</div>
							</div>
							
							<div class="row">

								<div class="col-sm-12 form-group">
									<label for="singleSelect"> Blood Group </label><br>
									<select class="form-control" name="singleSelect" ng-model="studentpd.bloodGrp">
											<option value="">---Please select Blood Group---</option>
										<option value="A+">A+</option>
										<option value="B+">B+</option>
										<option value="O+"S>O+</option>
										<option value="AB+">AB+</option>
										<option value="A-">A-</option>
										<option value="B-"S>B-</option>
										<option value="O-">O-</option>
										<option value="AB-">AB-</option>
									  </select>{{studentpd.bloodGrp}}
							
								</div>
							</div>
							
							<hr>
							<div>


								<div class="form-actions" style="text-align: center;">

									<button type="submit" class="btn btn-primary btn-info"
										style="text-align: center;">Submit</button>
									<button type="button" class="btn btn-warning btn-info"
										style="text-align: center;" data-ng-click="reset()">Reset
									</button>

								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>

</body>
</html>